html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 80px;
}

.cardOne {
  height: 146px;
  width: 146px;
}

.imgcard2 {
  height: 146px;
  width: 250px;
}
.btnhome {
  background-color: #0295a9;
}
