html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}

#carouselExampleControls {
  width: 700px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}
