.login {
  background: linear-gradient(to bottom, rgb(218, 218, 219), white);
  margin-top: 30px;
  height: 350px;
  width: 350px;
  border-radius: 3px;
  border: 1px transparent;
}
.login-btn {
  background-color: #0295a9;
  border-radius: 3px;
  width: 290px;
  margin-left: 12%;
}

.sp1 {
  color: rgba(0, 0, 0, 0.507);
}

.sp1:hover {
  text-decoration: underline;
}
.sp2 {
  font-size: 1rem;
}

.registerlink {
  color: rgb(53, 142, 243);
  text-decoration: none;
}
.pickateamlink {
  text-decoration: none;
  color: rgba(56, 56, 56, 0.986);
}

.pickateamlink:hover {
  text-decoration: none;
  color: rgba(102, 101, 101, 0.507);
  background-color: red;
}
