.mapName {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: black;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.searchBox {
  background-color: aquamarine;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
