/* 
.mapName {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: black;
  z-index: 10;
  margin: 0;
  padding: 0;

.maps {
  height: 400px;
  width: 400px;
}
 */
/* .map1 {
  max-width: 100%;
  height: auto;
} */
/* .searchBox {
  background-color: aquamarine;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
 */
