.avatar {
  border-radius: 50%;
  height: 180px;
  object-fit: cover;
  object-position: center;
  width: 180px;
}

.button-container {
  display: inline-block;
  position: relative;
}

.button-container i {
  position: absolute;
  bottom: 0.3em;
  right: 0.8em;
  color: white;
  text-transform: uppercase;
  padding: 1em 1.5em;
}

.modalbtn {
  background-color: rgb(253, 197, 43);
  width: 8rem;
  border: none;
}
.modalbtn2 {
  background-color: rgb(136, 136, 136);
  width: 8rem;
  border: none;
}
.deportesbtn {
  background-color: white;
  border-radius: 3px;
  width: 280px;
  margin-left: 5%;
  border-color: rgba(118, 118, 118, 0.295);
  color: rgba(15, 15, 15, 0.616);
  border-radius: 4px;
}
.save-btn {
  background-color: #0295a9;
  border-radius: 3px;
  width: 280px;
  margin-left: 5%;
}
.birth {
  color: rgba(99, 99, 99, 0.781);
  display: flex;
}
.birth::-webkit-calendar-picker-indicator {
  display: none;
}
select {
  color: rgba(118, 118, 118, 0.938);
  width: 328px;
  height: 38px;
  border-color: rgba(118, 118, 118, 0.342);
  border-radius: 5px;
}

.sportcheck label {
  color: #0774d9;
  padding: 0px 5px 5px 20px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
}
.sportcheck label:hover {
  background: rgba(0, 116, 217, 0.2);
}

.sportcheck input[type="checkbox"]:checked + label {
  background: rgba(0, 116, 217, 0.2);
  border-radius: 2px;
}
.uploadImage {
  position: relative;
  display: inline-block;
}
.uploadImage::before {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: xx-large;
}
.uploadImage input[type="file"] {
  opacity: 0;
  width: 55px;
  height: 65px;
  display: inline-block;
  cursor: pointer;
}
.inputWidth {
  width: 280px;
  margin-right: 500px;
}

.formCloud {

  margin-top: 130px;
  padding-top: 8px;
} 
